.footer {
    position: relative;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    z-index: 0;

    .social {
        img {
            width: 25px;
            height: 25px;
            margin: 0 0 20px 0;
        }
    }

    .sfdw {
        text-align: right;

        img {
            width: 20%;
        }
    }
}

.standardText {
    padding: 0 0 20px;
}