// =====================
//     SECTION STUCK
// =====================

.stuckContainer {
    color: black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 245vh;
    z-index: 5;

    .stuckElements-1 {
        position: absolute;
        width: 39%;
        margin: 0 auto;
        top: 55vh;

        h1 {
            font-size: 10rem;
        }
    }

    .stuckElements-2 {
        position: absolute;
        width: 39%;
        margin: 0 auto;
        top: 170vh;
    }

    .stuckElements-img-1 {
        background-image: url(../img/action1.jpeg);
        @include stuckElements;
        top: -10vh;
        right: 8vw;
    }

    .stuckElements-img-2 {
        background-image: url(../img/action2.jpeg);
        @include stuckElements;
        top: 35vh;
        left: 5vw;
        height: 15%;
    }

    .stuckElements-img-3 {
        background-image: url(../img/action3.jpeg);
        @include stuckElements;
        right: 0;
        top: 88vh;
        height: 45%;
    }

    .stuckElements-img-4 {
        background-image: url(../img/action4.jpeg);
        @include stuckElements;
        top: 115vh;
        left: 22vw;
        height: 60%;
    }

    .stuckElements-img-5 {
        background-image: url(../img/action5.jpeg);
        @include stuckElements;
        top: 135vh;
        right: 16vw;
    }

    .stuckElements-img-6 {
        background-image: url(../img/action6.jpeg);
        @include stuckElements;
        left: 0;
        top: 171vh;
    }

    .stuckElements-img-7 {
        background-image: url(../img/action7.jpeg);
        @include stuckElements;
        top: 215vh;
        right: 15vw;
        width: 40%;
        height: 350px;
        z-index: 1;
    }
}

// =====================
//     SECTION GOLDEN BEAR
// =====================

.goldenBear {
    background-color: black;
    color: white;
    padding: 15% 10%;
    height: 160vh;
    position: relative;
    z-index: 4;
}

.goldenBearContent {
    display: flex;
    align-items: flex-start;

    div:first-of-type {
        width: 50%;
    }

    div:last-of-type {
        width: 48%;

        p {
            padding: 0;
        }
    }
}

.goldenBear-img-1 {
    background-image: url(../img/goldenbear.png);
    @include stuckElements;
    width: 100%;
    height: 55%;
    top: 90vh;
    z-index: 2;
}

.goldenBear-img-2 {
    background-image: url(../img/gb2.png);
    @include stuckElements;
    width: 100%;
    height: 40%;
    left: 55%;
    top: 105vh;
    z-index: 3;
}

.goldenBear-img-3 {
    background-image: url(../img/cc-circle-2.png);
    background-position: center;
    @include stuckElements;
    width: 70%;
    height: 70%;
    right: -35%;
    top: 105vh;
    z-index: -1;
    // mixin erstellen
    animation: rotate 8s infinite linear;
}

// =====================
//     SECTION POPPY BEAR
// =====================

.poppyBear {
    background-color: white;
    color: black;
    padding: 10%;
    height: 190vh;
    position: relative;
    overflow: hidden;
    z-index: 3;
    margin: 50vh 0 10vh;
}

.poppyBearContent {
    display: flex;
    align-items: flex-start;

    div:first-of-type {
        width: 50%;
    }

    div:last-of-type {
        width: 50%;

        p {
            padding: 0;
        }
    }
}

.poppyBear-img-1 {
    background-image: url(../img/rosebear.png);
    @include stuckElements;
    width: 50%;
    height: 50%;
    top: 90vh;
    left: 40vw;
    z-index: 2;
}

.poppyBear-img-2 {
    background-image: url(../img/pb3.png);
    @include stuckElements;
    width: 50%;
    height: 35%;
    left: 18vw;
    top: 105vh;
    z-index: 3;
}

// =====================
//     SECTION JOIN US
// =====================

.joinUs {
    background-color: black;
    color: white;
    padding: 10%;
    height: 110vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    overflow-wrap: break-word;
}

.joinUsContent {
    display: flex;
    align-items: flex-start;

    div:first-of-type {
        width: 37%;

        p {
            padding: 0;
        }
    }
}

// BANDEROLE

.bannerContainer {
    display: flex;
    position: relative;
    height: 150px;
    width: 150vw;
    left: 10%;
    transform: rotate(45deg) translateX(-100vw);
    z-index: 1;


    .bannerBG {
        position: absolute;
        background-color: white;
        height: 150px;
        width: 150vw;
        left: 50%;
        z-index: 1;
    }

    .bannerText {
        p {
            position: absolute;
            display: block;
            color: black;
            white-space: nowrap;
            font-family: $fontLarish;
            font-size: 10rem;
            left: 50%;
            transform: translateX(-550vw);
            z-index: 2;
            animation: banner 40s infinite linear;

            span {
                @include outlineBlack
            }
        }
    }

}